/* Clean CMB2 Styles */

.postbox-header {
  padding: 3px 7px 3px 7px;
  background-color: #e5e5e5;
  color: #1d2327;
}

button.handlediv {
  background: #fff !important;
  border-radius: 50%;
  color: #fff;
}

.meta-box-sortables {
  overflow: hidden;
}

/* Metabox container */
.cmb2-wrap {
  margin: 0;
  border: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* Tabs */
.cmb-tabs {
  width: 20%;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #f0f0f1;
  border-right: 1px solid #dcdcde;
  min-height: 300px;
}

.cmb-tabs .cmb-tab {
  display: block;
  margin: 0;
  padding: 15px 20px;
  font-weight: 600;
  color: #1d2327;
  cursor: pointer;
  border-bottom: 1px solid #dcdcde;
  border-left: 4px solid transparent;
  transition: all 0.2s ease;
}

.cmb-tabs .cmb-tab:hover {
  background: #fff;
  color: #2271b1;
}

.cmb-tabs .cmb-tab.active {
  background: #fff;
  color: #2271b1;
  border-left-color: #2271b1;
  margin-right: -1px;
}

/* Field Groups */
.cmb-field-list {
  width: 100%;
  background: #fff;
  box-sizing: border-box;
}

/* Field rows */
.cmb-row {
  padding: 20px;
  border-bottom: 1px solid #f0f0f1;
  background: #fff;
}
.cmb-row:last-of-type {
  border-bottom: 0;
}

.cmb-row:hover {
  background: #fafafa;
}

/* Labels */
.cmb-th {
  width: 200px;
  padding-right: 20px;
  font-weight: 600;
  color: #1d2327;
}

.cmb-th label {
  font-size: 14px;
}

/* Inputs */
.cmb-td input[type="text"],
.cmb-td input[type="number"],
.cmb-td input[type="email"],
.cmb-td input[type="url"],
.cmb-td input[type="password"],
.cmb-td input[type="date"],
.cmb-td input[type="datetime-local"],
.cmb-td textarea,
.cmb-td select {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  border: 1px solid #dcdcde;
  border-radius: 4px;
  box-shadow: none;
  transition: border-color 0.2s ease;
}
.cmb-repeat-row .cmb-td input[type="text"] {
  width: calc(100% - 45px);
  margin: 5px 0px 5px 40px;
}
.cmb-td input:focus,
.cmb-td textarea:focus,
.cmb-td select:focus {
  border-color: #2271b1;
  box-shadow: 0 0 0 1px #2271b1;
  outline: none;
}

.cmb-td textarea {
  height: auto;
  padding: 12px;
}

/* Descriptions */
.cmb2-metabox-description {
  color: #646970;
  font-style: italic;
  margin-top: 5px;
}

/* Side context adjustments */
.postbox-container .cmb-row {
  padding: 12px;
  display: block;
}

.postbox-container .cmb-th {
  width: 100%;
  padding: 0 0 8px 0;
  float: none;
}

.postbox-container .cmb-td {
  width: 100%;
  float: none;
}

.postbox-container .cmb-td input {
  max-width: 100%;
}

.cmb2-postbox .cmb-th + .cmb-td {
  width: 100% !important;
}
.cmb2-postbox .cmb-row:not(:last-of-type),
.cmb2-postbox .cmb-remove-field-row,
.cmb2-postbox .cmb2-wrap > .cmb-field-list > .cmb-row {
  padding: 0px !important;
}

.cmb2-postbox .cmb2-wrap > .cmb-field-list > .cmb-row {
  margin: 0px 0px 20px 0px;
}

.cmb2-postbox .cmb-row:not(:last-of-type) {
  border-bottom: 0 !important;
}

.cmb2-postbox .cmb-th + .cmb-td {
  padding-left: 0px !important;
  float: none !important;
}

.cmb2-metabox button.dashicons-before.dashicons-no-alt.cmb-remove-group-row {
  left: -12px !important;
}
